.Logo {
    display: flex;
    align-items: center;
}

.Logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.Right ul {
    display: flex;
    gap: 34px;
}

.Right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.Right ul li span {
    padding: 0 5px;
}